#canvas {
    position:relative;
}
#tanuki {
    position:absolute;
    bottom:20%;
    left:0;
    width:100%;
    height:fit-content;
    justify-content:center;
    color:#20B38D;
    @media screen and (orientation:portrait) {
        bottom:40px;
    }
}

.text-wrapper {
    line-height:1rem;
    text-align:left;
    width:fit-content;
    margin: -64px auto 80px auto;
    @media screen and (orientation:portrait) {
        margin:-40px auto 64px auto; 
    }
}

.fadein {
  opacity:0;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  font-size:36px;
  align-items:center;
  text-align:center;
}
.fadein img {
  width:64px;
  @media screen and (orientation:portrait) {
    width:48px;
  }
}

@keyframes fadein {
  0% {
     opacity: 0;
     transform:translateY(-80px);
  }
  100% {
     opacity: 1;
     transform:translateY(0px);
  }
}